@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dan {
    background-color: rgb(84, 99, 84);
    height: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.p {
    align-self: center;
    font-size: 2.5vw;
}

.title {
    align-self: center;
}

.calcwrap {
    width: 75vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.span {
    width: 45%;
    height: 1.5vw;
}

.f-to-c {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;

}

.button {
    width: 7vw;
    background-color: rgb(200,0,0);
    color: white;
    border-radius: 2vw;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: rgb(200,0,0);
}

.be {
    background-color:yellow;
    height: 10vw;
    width: 50vw;
}